@import 'mixin';
@import 'globals';

header {
  margin-bottom: 2rem;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: $black;
}

header p {
  font-size: 1rem;
  color: $grey;
}

.announcement {
  background-color: #d9eacc;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  text-align: center;

  h2 {
    color: $green;
  }
}

.popular-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    margin-bottom: 1rem;
  }
}

.cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.card {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  transition: 0.5s;

  &:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 4px 12px rgba(28, 12, 1, 0.365);

    img {
      transform: scale(1);
    }
  }

  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .card-body {
    padding: 1rem;

    .card-title {
      font-weight: bold;
    }

    .card-subtitle {
      font-size: 0.9rem;
      color: #555;
    }

    .card-list {
      padding-left: 1rem;
    }
  }

  .view-button {
    display: block;
    text-align: center;
    background-color: $green;
    color: white;
    padding: 0.5rem;
    border-radius: 0 0 1rem 1rem;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &:hover {
      transform: scale(1.05);
      background-color: darken($green, 10%);
    }
  }
}
